.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 80vh;
  text-align: center;
  color: var(--text);
  width: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
  border-radius: 0;
  font-family:"Merriweather", serif;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.content h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 4.5rem;
  font-weight: 800;
  color: var(--function);
  letter-spacing: 2px;
  margin-bottom: 10px;
  animation: fadeDown 1.2s ease forwards;
}


.content p {
  font-size: 1.2rem;
  color: var(--string);
  margin-bottom: 0;
  animation: fadeUp 1.4s ease forwards;
}
.keyword {
  color: var(--keyword);
}

.variable {
  color: var(--variable);
}

.function {
  color: var(--function);
}

.string {
  color: var(--string);
}
.number{
  color: var(--number);
}



@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}