.section {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at center, #2b2b2b 0%, #1e1e1e 100%);
  padding: 0px 20px;
  text-align: center;
  font-family: "Fira Code", monospace;
  border-radius: 10px;
  animation: fadeUp 1s ease forwards;
  margin-bottom: 35px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--keyword);
  margin-bottom: 20px;
  animation: fadeDown 1s ease forwards;
}

.subtitle {
  font-size: 1.2rem;
  color: var(--string);
  max-width: 800px;
  text-align: center;
  animation: fadeUp 1.2s ease forwards;
}

.keyword {
  color: var(--keyword);
}

.variable {
  color: var(--variable);
}

.function {
  color: var(--function);
}

.string {
  color: var(--string);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@keyframes fadeDown {
  from { opacity: 0; transform: translateY(-30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}
