.footer {
  padding: 60px 20px;
  text-align: center;
  background: rgba(30,30,30,0.9);
  border-top: 1px solid rgba(255,255,255,0.05);
  color: var(--text);
  font-family: "Fira Code", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.social {
  display: flex;
  gap: 25px;
  margin: 10px 0;
}

.social a {
  text-decoration: none;
  transition: 0.3s ease;
}

.social a:hover {
  opacity: 0.8;
}

.line {
  margin: 0;
  font-size: 0.9rem;
}

.copy {
  font-size: 0.95rem;
}

.keyword {
  color: var(--keyword);
}

.variable {
  color: var(--variable);
}

.function {
  color: var(--function);
}

.string {
  color: var(--string);
}

.comment {
  color: var(--comment);
}
.number {
  color: var(--number);
}