.footer {
  background: rgba(39, 40, 34, 0);
  padding: 20px;
  text-align: center;
  color: white;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  transition: color 0.3s ease;
}

.footer a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background: white;
  transition: width 0.3s ease;
}

.footer a:hover::after {
  width: 100%;
}


.footer a:hover {
  color: #ddd;
}

.social {
  margin-bottom: 15px;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  transition: color 0.3s ease;
}

.footer a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background: white;
  transition: width 0.3s ease;
}

.footer a:hover::after {
  width: 100%;
}


.footer a:hover {
  color: #ddd;
}

.social {
  margin-bottom: 15px;
}